
.navbar {
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  position: fixed; 
  top: 0;
}

.leftside {
  font-size: 24px;
}

.leftside a {
  text-decoration: none;
  color: #fff;
}

.rightside {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rightside a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.toggle {
  display: none; /* Initially hidden on larger screens */
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

.rightside a.active {
  color: green; /* Change the color to green for the active link */
}

 #open {
  padding-left: 0px;
}


 #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
/* Mobile Styles */
@media (max-width: 767px) {
  .navbar {
    padding: 5px 20px; /* Adjust the padding for mobile screens */
  }
  .rightside {
    display: none; /* Hide the links on mobile screens */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    z-index: 1;
  }

  .rightside a {
    padding: 10px 20px;
  }

  .toggle {
    display: block; 
  }
  .navbar {
    height: 30px;
  }

  .rightside {
    display: none;
  }
  
  .rightside.open {
    display: block;
    position: absolute;
    top: 40px; /* Adjust this value as needed */
    left: 0;
    right: 0;
    background-color:  #a19e9e;; /* Adjust background color as needed */
    border-top: 1px solid #ccc;
    z-index: 99;
  }
  
  .rightside.open a {
    display: block;
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    color: #000; /* Adjust link color as needed */
    text-decoration: none;
  }
  
  .rightside.open a:hover {
    background-color:#007bff/* Adjust hover background color as needed */
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .rightside {
    display: none; /* Hide the links on tablet screens */
  }

  .toggle {
    display: block; /* Show the toggle button on mobile screens */
  }

  .navbar {
    height: 30px;
  }

  .rightside {
    display: none;
  }
  
  .rightside.open {
    display: block;
    position: absolute;
    top: 50px; /* Adjust this value as needed */
    left: 0;
    right: 0;
    background-color: #a19e9e; /* Adjust background color as needed */
    border-top: 1px solid #be7979;
    z-index: 99;
  }
  
  .rightside.open a {
    display: block;
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    color: #000; /* Adjust link color as needed */
    text-decoration: none;
  }
  
  .rightside.open a:hover {
    background-color:#007bff/* Adjust hover background color as needed */
  }
}

